<h2>Categories</h2>
<p id="notice"><%= notice %></p>

<table id='category_list' class="display data_full">
  <thead>
    <tr>
      <th align="left">Name</th>
      <th align="left">English Name</th>
      <th align="left">Status</th>
      <th align="left">Remark</th>
      <th align="left">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |category| %>
      <tr>
        <td><%= link_to category["name"], action: 'show', id: category["id"]  %></td>
        <td><%= category["eng_name"] %></td>
        <td><%= category["status"] %></td>
        <td><%= category["remark"] %></td>
        <td><%= link_to 'Delete', {action: 'destroy', id: category["id"]}, method: 'delete', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
