<h2>Category</h2>

<p id="notice"><%= notice %></p>

<% if ! @record.nil? %>
  <table id='category_info' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>Name</td><td><%= @record["name"] %></td></tr>
      <tr><td>English Name</td><td><%= @record["eng_name"] %></td></tr>
      <tr><td>Status</td><td><%= @record["status"] %></td></tr>
      <tr><td>Remark</td><td><%= @record["remark"] %></td></tr>
      <tr><td>Created At</td><td><%= @record["created_at"] %></td></tr>
      <tr><td>Updated At</td><td><%= @record["updated_at"] %></td></tr>
    </tbody>
  </table>

  <br/>

  <%= link_to 'Edit', action: 'edit', id: @record["id"] %>
<% end %>
