<h3><%= name %></h3>
<table id='schedule_list' class="display display_only">
  <thead>
    <tr>
      <th align="left">Time</th>
      <th align="left">Program</th>
      <th align="left">Duration</th>
      <th align="left">Episode</th>
      <th align="left">Video</th>
      <th align="left">Remark</th>
    </tr>
  </thead>

  <tbody>
    <% scheduled.each do |record| %>
      <tr><td>
         <% if record["bg"].nil? -%>
            <%= Utility.durationStr(record["time"]) %>
          <% else -%>
            <span style="background-color: <%= record["bg"] %>"><%= Utility.durationStr(record["time"]) %></span>
          <% end -%></td>
        <td><% if viewable -%>
          <%= link_to record["program"], action: 'show', id: record["id"]  %>
        <% else -%>
          <%= record["program"] %>
        <% end -%></td>
        <td><%= Utility.durationStr(record["duration"]) %></td>
        <td><%= record["episode"] %></td>
        <td><% if !record["video_name"].nil? -%>
           <%= link_to record["video_name"], controller: 'videos', action: 'show', id: record["video_id"]  %>
        <% end -%></td>
        <td><%= record["remark"] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
