<%= form_tag(@url, method: @method) do |f| %>
  <table id='provider_info' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>Code</td><td><%= text_field_tag "code", @record["code"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Name</td><td><%= text_field_tag "name", @record["name"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Full Name</td><td><%= text_field_tag "full_name", @record["full_name"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>English Name</td><td><%= text_field_tag "eng_name", @record["eng_name"], size: "50", maxlength: "254" %></td></tr>
      <tr><td>Source</td><td><%= text_field_tag "source", @record["source"], size: "50", maxlength: "254" %></td></tr>
      <tr><td>Status</td><td><%= select_tag "status", options_for_select(@status_list, @record["status"]) %></td></tr>
      <tr><td>Remark</td><td><%= text_field_tag "remark", @record["remark"], size: "50", maxlength: "254" %></td></tr>
    </tbody>
  </table>

  <p/>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
