<h2>Providers</h2>
<p id="notice"><%= notice %></p>

<table id='provider_list' class="display data_full">
  <thead>
    <tr>
      <th align="left">ID</th>
      <th align="left">Code</th>
      <th align="left">Name</th>
      <th align="left">Full Name</th>
      <th align="left">English Name</th>
      <th align="left">Source</th>
      <th align="left">Status</th>
      <th align="left">Remark</th>
      <th align="left">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |provider| %>
      <tr>
        <td><%= link_to provider["id"], action: 'show', id: provider["id"] %></td>
        <td><%= provider["code"] %></td>
        <td><%= provider["name"] %></td>
        <td><%= provider["full_name"] %></td>
        <td><%= provider["eng_name"] %></td>
        <td><%= provider["source"] %></td>
        <td><%= provider["status"] %></td>
        <td><%= provider["remark"] %></td>
        <td><%= link_to 'Delete', {action: 'destroy', id: provider["id"]}, method: 'delete', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
