<h2>短節目</h2>

<p id="notice"><%= notice %></p>

<% if ! @record.nil? %>
  <table id='viewer_info' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>Program</td><td><%= link_to ModelHandler.getField(Program, @record["program_id"], "name"), controller: "programs", action: "show", id: @record["program_id"] %></td></tr>
      <tr><td>Episode</td><td><%= @record["episode"] %></td></tr>
      <tr><td>Category</td><td><%= link_to ModelHandler.getField(Category, @record["category_id"], "name"), controller: "categories", action: "show", id: @record["category_id"] %></td></tr>
      <tr><td>Video</td><td><%= link_to ModelHandler.getField(Video, @record["video_id"], "name"), controller: "videos", action: "show", id: @record["video_id"] %></td></tr>
      <tr><td>Duration</td><td><%= Utility.durationStr(@record["duration"]) %></td></tr>
      <tr><td>Is Special</td><td><%= @record["is_special"] %></td></tr>
      <tr><td>Status</td><td><%= @record["status"] %></td></tr>
      <tr><td>Remark</td><td><%= @record["remark"] %></td></tr>
      <tr><td>Created At</td><td><%= @record["created_at"] %></td></tr>
      <tr><td>Updated At</td><td><%= @record["updated_at"] %></td></tr>
    </tbody>
  </table>

  <br/>

  <%= link_to 'Edit', action: 'edit', id: @record["id"] %>
<% end %>
