<%= form_tag(@url, method: @method) do |f| %>
  <table id='video_info' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>Path</td><td><%= text_field_tag "path", @record["path"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Format</td><td><%= text_field_tag "format", @record["format"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Size</td><td><%= text_field_tag "size", @record["size"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Duration</td><td><%= text_field_tag "duration", @record["duration"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Mux Bitrate</td><td><%= check_box_tag "mux_bitrate", '1', @record["mux_bitrate"] %></td></tr>
      <tr><td>Variable Mux Rate</td><td><%= text_field_tag "variable_mux_rate", @record["variable_mux_rate"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Video Codec</td><td><%= text_field_tag "video_codec", @record["video_codec"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Video Bitrate</td><td><%= text_field_tag "video_bitrate", @record["video_bitrate"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Frame Rate</td><td><%= text_field_tag "frame_rate", @record["frame_rate"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Video Height</td><td><%= text_field_tag "video_height", @record["video_height"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Video Width</td><td><%= text_field_tag "video_width", @record["video_width"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Audio Codec</td><td><%= text_field_tag "audio_codec", @record["audio_codec"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Audio Bitrate</td><td><%= text_field_tag "audio_bitrate", @record["audio_bitrate"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Audio Sample Rate</td><td><%= text_field_tag "audio_sample_rate", @record["audio_sample_rate"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Status</td><td><%= text_field_tag "status", @record["status"], size: "50", maxlength: "254" %></td></tr>
      <tr><td>Remark</td><td><%= text_field_tag "remark", @record["remark"], size: "50", maxlength: "254" %></td></tr>
    </tbody>
  </table>

  <p/>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
