<h2>Videos</h2>
<p id="notice"><%= notice %></p>

<table id='video_list' class="display data_full">
  <thead>
    <tr>
      <th align="left">ID</th>
      <th align="left">Path</th>
      <th align="left">Format</th>
      <th align="left">Size</th>
      <th align="left">Duration</th>
      <th align="left">Mux Bitrate</th>
      <th align="left">Variable Mux Rate</th>
      <th align="left">Video Codec</th>
      <th align="left">Video Bitrate</th>
      <th align="left">Frame Rate</th>
      <th align="left">Video Height</th>
      <th align="left">Video Width</th>
      <th align="left">Audio Codec</th>
      <th align="left">Audio Bitrate</th>
      <th align="left">Audio Sample Rate</th>
      <th align="left">Status</th>
      <th align="left">Remark</th>
      <th align="left">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |video| %>
      <tr>
        <td><%= link_to video["id"], action: 'show', id: video["id"] %></td>
        <td><%= video["path"] %></td>
        <td><%= video["format"] %></td>
        <td><%= video["size"] %></td>
        <td><%= video["duration"] %></td>
        <td><%= video["mux_bitrate"] %></td>
        <td><%= video["variable_mux_rate"] %></td>
        <td><%= video["video_codec"] %></td>
        <td><%= video["video_bitrate"] %></td>
        <td><%= video["frame_rate"] %></td>
        <td><%= video["video_height"] %></td>
        <td><%= video["video_width"] %></td>
        <td><%= video["audio_codec"] %></td>
        <td><%= video["audio_bitrate"] %></td>
        <td><%= video["audio_sample_rate"] %></td>
        <td><%= video["status"] %></td>
        <td><%= video["remark"] %></td>
        <td><%= link_to 'Delete', {action: 'destroy', id: video["id"]}, method: 'delete', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
