<%= form_tag(@url, method: @method) do |f| %>
  <table id='schedule_program_info' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>Channel ID</td><td><%= text_field_tag "channel_id", @record["channel_id"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Version</td><td><%= text_field_tag "version", @record["version"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Program ID</td><td><%= text_field_tag "program_id", @record["program_id"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Week Option</td><td><%= text_field_tag "week_option", @record["week_option"], size: "50", maxlength: "254" %></td></tr>
      <tr><td>Day</td><td><%= text_field_tag "Day", @record["day"], size: "50", maxlength: "254" %></td></tr>
      <tr><td>Hour</td><td><%= text_field_tag "Hour", @record["hour"], size: "50", maxlength: "254" %></td></tr>
      <tr><td>Minute</td><td><%= text_field_tag "Minute", @record["minute"], size: "50", maxlength: "254" %></td></tr>
      <tr><td>Second</td><td><%= text_field_tag "Second", @record["second"], size: "50", maxlength: "254" %></td></tr>
      <tr><td>Status</td><td><%= text_field_tag "status", @record["status"], size: "50", maxlength: "254" %></td></tr>
      <tr><td>Remark</td><td><%= text_field_tag "remark", @record["remark"], size: "50", maxlength: "254" %></td></tr>
    </tbody>
  </table>

  <p/>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
