<h2>Schedule Programs</h2>
<p id="notice"><%= notice %></p>

<table id='schedule_program_list' class="display data_full">
  <thead>
    <tr>
      <th align="left">ID</th>
      <th align="left">Channel ID</th>
      <th align="left">Version</th>
      <th align="left">Program ID</th>
      <th align="left">Week Option</th>
      <th align="left">Day</th>
      <th align="left">Hour</th>
      <th align="left">Minute</th>
      <th align="left">Second</th>
      <th align="left">Status</th>
      <th align="left">Remark</th>
      <th align="left">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |schedule_program| %>
      <tr>
        <td><%= link_to schedule_program["id"], action: 'show', id: schedule_program["id"] %></td>
        <td><%= schedule_program["channel_id"] %></td>
        <td><%= schedule_program["version"] %></td>
        <td><%= schedule_program["program_id"] %></td>
        <td><%= schedule_program["week_option"] %></td>
        <td><%= schedule_program["day"] %></td>
        <td><%= schedule_program["hour"] %></td>
        <td><%= schedule_program["minute"] %></td>
        <td><%= schedule_program["second"] %></td>
        <td><%= schedule_program["status"] %></td>
        <td><%= schedule_program["remark"] %></td>
        <td><%= link_to 'Delete', {action: 'destroy', id: schedule_program["id"]}, method: 'delete', data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
