<%= form_tag(@url, method: @method) do |f| %>
  <table id='program_info' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>Name</td><td><%= text_field_tag "name", @record["name"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Code</td><td><%= text_field_tag "code", @record["code"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>English Name</td><td><%= text_field_tag "eng_name", @record["eng_name"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Category ID</td><td><%= text_field_tag "category_id", @record["category_id"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Provider ID</td><td><%= text_field_tag "provider_id", @record["provider_id"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Total Episodes</td><td><%= text_field_tag "total_episodes", @record["total_episodes"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Expected Duration (minutes)</td><td><%= text_field_tag "expected_duration", @record["expected_duration"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Language</td><td><%= text_field_tag "language", @record["language"], size: "50", maxlength: "254"%></td></tr>
      <tr><td>Is in House</td><td><%= check_box_tag "is_in_house", '1', @record["is_in_house"] %></td></tr>
      <tr><td>Is Live</td><td><%= check_box_tag "is_live", '1', @record["is_live"] %></td></tr>
      <tr><td>Is Children</td><td><%= check_box_tag "is_children", '1', @record["is_children"] %></td></tr>
      <tr><td>Status</td><td><%= select_tag "status", options_for_select(@status_list, @record["status"]) %></td></tr> 
      <tr><td>Remark</td><td><%= text_field_tag "remark", @record["remark"], size: "50", maxlength: "254" %></td></tr>
    </tbody>
  </table>

  <p/>
  <div class="actions">
    <%= submit_tag %>
  </div>
<% end %>
