<h2>Program</h2>

<p id="notice"><%= notice %></p>

<% if ! @record.nil? %>
  <table id='viewer_info' class="display display_only">
    <thead>
      <tr>
        <th align="left">Field</th>
        <th align="left">Value</th>
      </tr>
    </thead>

    <tbody>
      <tr><td>Name</td><td><%= @record["name"] %></td></tr>
      <tr><td>Code</td><td><%= @record["code"] %></td></tr>
      <tr><td>English Name</td><td><%= @record["eng_name"] %></td></tr>
      <tr><td>Category</td><td><%= link_to ModelHandler.getField(Category, @record["category_id"], "name"), controller: "categories", action: "show", id: @record["category_id"] %></td></tr>
      <tr><td>Provider</td><td><%= link_to ModelHandler.getField(Provider, @record["provider_id"], "name"), controller: "providers", action: "show", id: @record["provider_id"] %></td></tr>
      <tr><td>Total Episodes</td><td><%= @record["total_episodes"] %></td></tr>
      <tr><td>Expected Duration (minutes)</td><td><%= @record["expected_duration"] %></td></tr>
      <tr><td>Language</td><td><%= @record["language"] %></td></tr>
      <tr><td>Is in House</td><td><%= @record["is_in_house"] %></td></tr>
      <tr><td>Is Live</td><td><%= @record["is_live"] %></td></tr>
      <tr><td>Is Children</td><td><%= @record["is_children"] %></td></tr>
      <tr><td>Status</td><td><%= @record["status"] %></td></tr>
      <tr><td>Remark</td><td><%= @record["remark"] %></td></tr>
      <tr><td>Created At</td><td><%= @record["created_at"] %></td></tr>
      <tr><td>Updated At</td><td><%= @record["updated_at"] %></td></tr>
    </tbody>
  </table>

  <br/>

  <%= link_to 'Edit', action: 'edit', id: @record["id"] %>
<% end %>
